.homeContainer {
  height: 100vh;
  background-color: pink;

  .background {
    background-image: url('../assets/images/headphones_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
 


}