$main-color: rgb(227,170,0);
$btn-color: #6699CC;
$hover-color: #FF5959;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1480px;
  margin: auto;
  background: linear-gradient(90deg, rgba(227,170,0,1) 0%, rgba(239,180,0,1) 59%, rgba(254,205,49,0.8855917366946778) 100%);  

  main {
    flex:1;
    height: 100vh;
  }

  h1, h3, h4 {
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 1.25em;
  }
  
  h4 {
    font-size: 1em;
  }
  
  p {
    font-family: 'Baloo Chettan 2', cursive; 
    font-size: .9;
    text-align: justify;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  
    &:hover {
      text-decoration: none;
      color: $main-color;
    }
  }

  .homeBtn-container {    
    position: fixed;
    right: 1.15em;
    top: 1.75em;
    cursor: pointer;  
    z-index: 500;

    .homeBtn {
      font-size: 1.8em;
      color: $btn-color;

      &:hover {
        color: $hover-color;  
        opacity: 0.5;
        transform: scale(1.2);            
      }
    }
  }

  .arrow-container {
    position: fixed;
    right: 1.25em;
    bottom: 1.75em;
    cursor: pointer;  
    z-index: 500;

    .arrow {
      font-size: 1.8em;
      color: $btn-color;

      &:hover {
        color: $hover-color;  
        opacity: 0.5;
        transform: scale(1.2);            
      }
    }
  }
  
  .homeContainer {
    height: 100vh;
  
    .background {
      height: 100%;
      width: 100%;
      background-image: url('./assets/images/headphones_background.jpg');  // Photo by Malte Wingen on Unsplash
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    .intro {
      position: absolute;
      top: 25%;
      opacity: 0.75;
  
      h3 {
        font-size: 2.5em;
      }
  
      p {        
        font-size: 1.2em;
      }
    }
  }

  .play {
    color: $main-color;
  }

  .podcast_background {
    background: linear-gradient(90deg, rgba(227,170,0,1) 0%, rgba(239,180,0,1) 59%, rgba(254,205,49,0.8855917366946778) 100%);  
  }  

  .podcast_logo {
    cursor: pointer;
  }

  .podcastCard {
    min-width: 14em;
    max-width: 14em;
    border: none;
  }

  .episode_logo {
    max-width: 70%;
  }

  .episodeCard {
    min-width: 100%;
    max-width: 100%;
    border: none;
  }
  
  .footer {
    background: linear-gradient(90deg, rgba(227,170,0,1) 0%, rgba(239,180,0,1) 59%, rgba(254,205,49,0.8855917366946778) 100%);  
  
    p {
      margin: auto;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
